HOST=127.0.0.1
PORT=8080

LLM_BASE_URL=http://185.74.228.13:11434/v1
LLM_API_KEY=ollama
LLM_MODEL=qwen2.5:3b

STT_BASE_URL=http://185.74.228.13:11000/v1
STT_API_KEY=M00nglow
STT_MODEL=whisper-1

TTS_BASE_URL=http://185.74.228.13:10000/v1
TTS_API_KEY=M00nglow
TTS_MODEL=tts-1
TTS_VOICE=alloy
